* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.marker {
    background-color: rgb(253, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    /* transform: translate(-50%, -50%); Center the marker */
    pointer-events: all;
}
.marker:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}


.take {
    position: absolute;
    bottom: 0;
    z-index: 1000;
}